<!--<div class="nav-back"><a class="btn btn-default self-link" href="{{baseUrl}}#" data-internal><i class="fa fa-search"></i> Search Plugins</a></div>-->
<div class="plugin-main">
    <div>
        {{#if githubRepo}}
            <span class="github-btn github-stargazers pull-right" id="github-btn"><a class="gh-btn" id="gh-btn" href="{{githubRepo.html_url}}">
                <i class="fa fa-github"></i> <span class="gh-text" id="gh-text">Star</span></a><a class="gh-count" id="gh-count" href="{{githubRepo.html_url}}/stargazers">{{githubRepo.stargazers_count}}</a>
            </span>
        {{/if}}
        <a class="plugin-name" href="{{baseUrl}}/plugin/{{name}}" data-internal>{{name}}</a>
    </div>
    <div class="attributes-bar">
        <ul class="attributes-list">
            <li class="attribute-owner">
                <label>Owner</label>
                <span><a href="{{baseUrl}}/q/owner:{{quoteIfWhitespace owner}}" class="searchby-owner" data-internal><span class="owner">{{owner}}</span></a></span>
            </li>
            <li class="attribute-license">
                <label>License</label>
                <span>
                    {{#each licenses}}
                        <a href="{{url}}" target="_top">{{name}}</a>
                    {{/each}}
                </span>
            </li>
        </ul>
        <ul class="links-list">
            <li>
                <img src="{{baseUrl}}/assets/bintray-black.png">
                <a href="{{bintrayHref}}" target="_top">Package</a>
            </li>
            {{#if vcs_url}}
                <li>
                    <i class="fa fa-code"></i>
                    <a href="{{vcs_url}}" target="_top"> Source</a>
                </li>
            {{/if}}
            {{#if issue_tracker_url}}
                <li>
                    <i class="fa fa-bug"></i>
                    <a href="{{issue_tracker_url}}" target="_top"> Issues</a>
                </li>
            {{/if}}
        </ul>
    </div>
    {{#if labels}}
        <div class="plugin-labels">
            {{#each labels}}
                <a href="{{baseUrl}}/q/label:{{quoteIfWhitespace this}}" class="searchby-label" data-internal><span class="plugin-label label">{{this}}</span></a>
            {{/each}}
        </div>
    {{/if}}
    <span class="plugin-description">{{desc}}</span>
    {{#if latest_version}}
        <div class="version-info">
            <div class="bintray-section">
                <strong>{{latest_version}}</strong> published {{fromNow latest_version_updated}}

                <!--<div class="input-group dependency-clip pull-right">-->
                    <!--<input type="text" class="form-control" value="{{dependency}}" readonly>-->
                    <!--<div class="input-group-addon btn clippy" data-clipboard-text="{{dependency}}"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span></div>-->
                <!--</div>-->
            </div>
            {{#if dependency}}
                <div class="gradle-format">
<pre class="hljs lang-groovy">
dependencies {
    {{dependencyScope}} '{{dependency}}'
}
</pre>
                </div>
            {{/if}}
        </div>
    {{/if}}

    <div class="readme hide">
        <div class="readme-header"><i class="fa fa-github" aria-hidden="true"></i> README</div>
        <div class="readme-body"></div>
    </div>

    <div class="docs-message hide"></div>
</div>
