<div class="search-count">
    <span>{{searchCount}}</span>
    <div class="dropdown pull-right search-select">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sort
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#" data-sort="name">
                    <span class="glyphicon glyphicon-ok checkmark" aria-hidden="true"></span>
                    Name
                </a>
            </li>
            <li>
                <a href="#" data-sort="date">
                    <span class="glyphicon glyphicon-ok checkmark" aria-hidden="true"></span>
                    Date
                </a>
            </li>
        </ul>
    </div>
</div>
<ul class="plugins-list">
    {{#each plugins}}
        <li>
            <div>
                <a class="plugin-name" href="#plugin/{{name}}">{{name}}</a>
                <!--<span class="plugin-dependency pull-right"><code>{{dependency}}</code></span>-->
                <span class="external-links ">
                    {{#if githubHref}}
                        <a href="{{githubHref}}"><img src="src/img/plainicon.com-50224-svg.svg"></a>
                    {{/if}}
                    <a href="{{bintrayHref}}"><img src="src/img/bintray-black.png"></a>
                </span>
            </div>
            <span class="plugin-description">{{desc}}</span>
            {{#if labels}}
                <div class="plugin-labels">
                    {{#each labels}}
                        <a href="#q/label:{{quoteIfWhitespace this}}" class="searchby-label"><span class="label">{{this}}</span></a>
                    {{/each}}
                </div>
            {{/if}}
            <div>
                <label>version</label>
                <span class="">{{latest_version}}</span>
                <label>updated</label>
                <span class="plugin-updated">{{fromNow updated}}</span>
                <label>owner</label>
                <a href="#q/owner:{{quoteIfWhitespace owner}}" class="searchby-owner"><span class="owner">{{owner}}</span></a>
            </div>
        </li>
    {{/each}}
</ul>
